/* ----------------------------
Table Of Contents
-------------------------------

# Variables
# Mixins
# Normalize
# Navigation
# Body

---------------------------- */

body {
    background-color: var(--light-gray);
}
/* ----------------------------
# Variables
---------------------------- */

@import 'variables/variables';

/* ----------------------------
# Mixins
---------------------------- */

@import 'mixins/mixins';

/* ----------------------------
# Normalize
---------------------------- */

@import 'normalize';

/* ----------------------------
# Navigation
---------------------------- */

@import 'components/navigation';

/* ----------------------------
# Body
---------------------------- */

.commitment {
    // background: linear-gradient(180deg, var(--dark-blue), var(--blue) 90%, var(--dark-blue));
    background-color: var(--blue);
    background-image: url('/img/fractal_bg.png');
    padding: 100px 0;

    h3, p {
        @include wrapper;
        color: var(--text-white);
        text-align: center;
    }
    h3 {
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 0.5em;
    }
    p {
        margin-bottom: 2em;
        font-size: 1.15em;
        font-weight: 200;
    }
    .button-container {
        @include wrapper;
        display: flex;
        justify-content: center;
        align-items: center;

        .contact-us {
            @include button-light;
        }
    }
}