/* ----------------------------
Table Of Contents
-------------------------------

# Variables
# Mixins
# Normalize
# Navigation
# Body

---------------------------- */
body {
  background-color: var(--light-gray);
}

/* ----------------------------
# Variables
---------------------------- */
:root {
  --white: #fff;
  --black: #000;
  --light-gray: #ebebeb;
  --dark-gray: #707070;
  --blue: #1450d2;
  --light-blue: #009bfa;
  --dark-blue: #001254;
  --banner-gradient-blue: #568ec0;
  --green: #01a49c;
  --text-white: #fff;
  --text-black: #000;
}

/* ----------------------------
# Mixins
---------------------------- */
/* ----------------------------
# Normalize
---------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----------------------------
# Navigation
---------------------------- */
nav {
  border-bottom: 15px solid var(--dark-blue);
}

nav .nav-container {
  width: 80%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

nav .nav-container .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
}

nav .nav-container .logo .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav-container .logo .image-container img {
  width: 100px;
  display: inline;
  z-index: 2;
}

nav .nav-container .logo p {
  color: var(--dark-blue);
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1;
  padding: 0 1em;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}

nav .nav-container .logo p span {
  font-size: 0.45em;
  color: var(--light-blue);
}

nav .nav-container .nav-items {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

nav .nav-container .nav-items .nav-item {
  padding-bottom: 1em;
}

nav .nav-container .nav-items .nav-item a {
  color: var(--text-black);
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

nav .nav-container .nav-items .nav-item a:hover {
  cursor: pointer;
  border-bottom: 1px solid #000;
  transition: 0.2s ease-in-out;
}

/* ----------------------------
# Body
---------------------------- */
.banner {
  background-image: linear-gradient(75deg, rgba(57, 105, 141, 0.6) 20%, rgba(255, 255, 255, 0)), url("/img/banner_bg.png");
  background-size: cover;
  background-position: 0% 15%;
  padding: 100px 0;
}

.banner h2, .banner p {
  width: 80%;
  max-width: 1920px;
  margin: 0 auto;
  color: var(--text-white);
}

.banner h2 {
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0.5em;
}

.banner p {
  font-weight: 200;
  font-size: 1.75em;
  line-height: 1.25;
}

.commitment {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 5% 95%, rgba(0, 0, 0, 0.2)), url("/img/fractal_bg.png"), var(--blue);
  background-size: cover;
  padding: 100px 0;
}

.commitment h3, .commitment p {
  width: 80%;
  max-width: 1920px;
  margin: 0 auto;
  color: var(--text-white);
  text-align: center;
}

.commitment h3 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.commitment p {
  margin-bottom: 2em;
  font-size: 1.15em;
  font-weight: 200;
}

.commitment .button-container {
  width: 80%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.commitment .button-container .contact-us {
  text-decoration: none;
  color: var(--text-white);
  background-color: transparent;
  border: 1px solid var(--text-white);
  font-weight: bold;
  padding: 0.75em 2em;
}

.commitment .button-container .contact-us:hover {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */