.upcoming-events {
    @include wrapper;
    padding: 50px 0;

    h3 {
        font-size: 1.75em;
    }
    h3 + p {
        font-size: 0.8em;
        margin-bottom: 2em;
    }
    .events-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .event-card {
            background-color: var(--blue);
            color: var(--text-white);
            position: relative;
            width: 350px;
            width: 30%;

            .event-body {
                padding: 5em 1em 0 1em;

                h4 {
                font-size: 1.5em;
                    font-weight: 500;
                }
                h4 + p {
                    font-size: 0.8em;
                    margin-bottom: 2em;
                }
                .event-date {
                    background-color: var(--dark-blue);
                    display: inline-block;
                    padding: 1em;
                    position: absolute;
                    top: -1em;
                    left: 1.5em;
                    font-weight: 200;
                    text-transform: uppercase;
                    text-align: center;
                    line-height: 1;

                    span {
                        font-size: 2em;
                        font-weight: bold;
                        line-height: 1;
                    }
                    &:before{
                        content: '';
                        z-index: -1;
                        display: block;
                        position: absolute;
                        left: -19.5%;
                        top: 0;
                        width: 20%;
                        height: 20%;
                        background: linear-gradient(to bottom right, rgba(0,0,0,0) 50%, var(--shadow-blue) 50.5%);
                    }
                }
                .button-border {
                    @include button-light;
                    margin-bottom: 2em;
                } 
            }
            .event-footer {
                display: flex;
                justify-content: flex-end;

                .event-location {
                background-color: var(--light-gray);
                color: var(--text-black);
                font-weight: normal;
                text-align: right;
                width: 75%;
                padding: 0.5em;
                position: relative;

                span {
                    font-weight: bold;
                }
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: -19.95%;
                    top: 0;
                    width: 20%;
                    height: 100%;
                    z-index: 1;
                    background: linear-gradient(to bottom right, rgba(0,0,0,0) 50%, var(--light-gray) 50.5%);
                    
                }
                }
            }
        }
    }
    @media screen and (max-width: 950px) {
        width: 100%;
        padding: 5%;
        overflow: hidden;

        h3 {
            color: var(--dark-blue);

            span {
                font-weight: bold;
            }
        }
        h3 + p {
            color: var(--dark-gray);
        }
        .events-container {
            
            .event-card {
                flex-shrink: 0;
                background-color: var(--dark-blue);
                width: 350px;
                margin-right: 1em;

                .event-body {

                    .event-date {
                        color: var(--green);
                        background-color: var(--white);

                        &::before {
                            background: linear-gradient(to bottom right, rgba(0,0,0,0) 50%, var(--dark-gray) 50.5%);
                        }
                    }
                }
                .event-footer {

                    .event-location {
                        color: var(--dark-gray);
                    }
                }
            }
        }
        .slider-dots {
            @include slider-dots;
        }
    }
}
