footer {
    background-color: var(--dark-gray);
    padding: 25px 0 50px 0;

    .footer-container {
        @include wrapper;
        display: flex;
        justify-content: space-between;
        color: var(--light-gray);

        p {
            font-size: 0.8em;
        }
        .footer-right {
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                margin-right: 1em;
            }
            .fa-icon {
                text-decoration: none;
                margin-right: 1em;
                transition: 0.2s ease-in-out;

                &:last-child {
                    margin-right: 0;
                }
                &:hover {
                    background-color: var(--blue);
                    transition: 0.2s ease-in-out;
                }
            }
            .icon-twitter {
                @extend %fa-icon;
                @extend .fab;
                background-color: var(--light-gray);
                padding: 3px;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                text-align: center;
                line-height: 1.20;
                
                &::before {
                    content: fa-content($fa-var-twitter);
                    color: var(--dark-gray);
                }
            }
            .icon-facebook {
                @extend %fa-icon;
                @extend .fab;
                background-color: var(--light-gray);
                padding: 3px;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                text-align: center;
                line-height: 1.20;
                
                &::before {
                    content: fa-content($fa-var-facebook-f);
                    color: var(--dark-gray);
                }
            }
            .icon-linkedIn {
                @extend %fa-icon;
                @extend .fab;
                background-color: var(--light-gray);
                padding: 3px;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                text-align: center;
                line-height: 1.20;
                
                &::before {
                    content: fa-content($fa-var-linkedin-in);
                    color: var(--dark-gray);
                }
            }
            .icon-email {
                @extend %fa-icon;
                @extend .fas;
                background-color: var(--light-gray);
                padding: 3px;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                text-align: center;
                line-height: 1.20;
                
                &::before {
                    content: fa-content($fa-var-envelope);
                    color: var(--dark-gray);
                }
            }
        }
        .footer-mobile {
            display: none;
        }
    }
    @media screen and (max-width: 950px) {
        padding: 0;
        background-color: var(--light-gray);
        
        .footer-container {
            display: block;
            width: 100%;

            .footer-mobile {
                display: block;
                
                .footer-image-container {
                    display: flex;
                    justify-content: center;
                    padding: 1.5em 0;

                    img {
                        width: 75px;
                    }
                }
                .footer-nav {
                    background-color: var(--mid-gray);
                    padding: 1em 0;
                        
                    ul {
                        @include wrapper;
                        li {
                            width: 100%;

                            a {
                                display: block;
                                padding: 1em 0;
                                text-align: center;
                                text-decoration: none;
                                font-weight: bold;
                                color: var(--dark-gray);
                                background-color: var(--light-gray);
                                transition: 0.2s ease-in-out;

                                &:hover {
                                    background-color: var(--dark-gray);
                                    color: var(--light-gray);
                                    transition: 0.2s ease-in-out;
                                }
                            }
                        }
                    }
                    .footer-top {
                        margin-bottom: 1em;

                        ul {
                            display: flex;
                            justify-content: space-evenly;

                            li {
                                margin-right: 1em;

                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                    .footer-bottom {
                        ul {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            li {
                                margin-bottom: 1em;

                                &:last-child {
                                    margin-bottom: 0;

                                }
                                a {

                                }   
                            }
                        }
                        &:before {
                            @include wrapper;
                            // width: 80%;
                            display: block;
                            content: 'Site Links';
                            color: var(--blue);
                            font-weight: 500;
                            border-bottom: 1px solid var(--dark-gray);
                            padding-bottom: 0.5em;
                            margin-bottom: 0.5em;
                            text-align: center;
                        }
                    }
                }
            }
            .footer-left, .footer-right {
                display: none;
            }
        }
    }
}