:root {
    --white: #fff;
    --black: #000;
    --light-gray: #ebebeb;
    --dark-gray: #707070;
    --blue: #1450d2;
    --light-blue: #009bfa;
    --dark-blue: #001254;
    --banner-gradient-blue: #568ec0;
    --green: #01a49c;
}