:root {
    --white: #fff;
    --black: #000;
    --ultra-light-gray: #eaecee;
    --light-gray: #ebebeb;
    --mid-gray: #ccc;
    --dark-gray: #707070;
    --blue: #1450d2;
    --light-blue: #009bfa;
    --dark-blue: #001254;
    --shadow-blue: #3b4e96;
    --banner-gradient-blue: #568ec0;
    --green: #01a49c;
    --red: #d81e05;
    --dark-red: #a01300;

    --text-white: #fff;
    --text-black: #000;
}